html, body, .row, .container, #info-net{
	font: 10pt arial;
	height: 100%;
	width: 100%;
}

input {
	width: 100%;
}

[class^='col-'] {
	height: 100%;
}

#info-net {
  border: 1px solid lightgray;
  background-color:#333333;
}